.hello-btn {
    background: rgb(212, 17, 17);   
}
headerbar {
    border:0;
    background:rgb(32, 32, 32);
    color: red;
}
window {
    background:rgb(207, 198, 198);
}

button.toggle:active {
    background: rgb(29, 13, 175);
}

button:checked{
    background: black;
}

.black-btn {
    background: black;
}

.white-btn {
    background: white;
}

.main_container {
    background: blue;
}